aiohttp
aiosignal
argon2-cffi
argon2-cffi-bindings
async-timeout
attrs
backcall
bcrypt
beautifulsoup4
bleach
blinker
cachecontrol
cachetools
cachy
certifi
cffi
chardet
charset-normalizer
cleo
click
clikit
cmake
contourpy
crashtest
cryptography
cycler
debugpy
decorator
defusedxml
distlib
dnspython
email-validator
entrypoints
fastjsonschema
filelock
flask
flask-bcrypt
flask-login
flask-mail
flask-sqlalchemy
flask-wtf
fonttools
frozenlist
google-auth
google-colab
greenlet
gunicorn
html5lib
idna
imageio
ipykernel
ipython
ipython-genutils
iso8601
itsdangerous
jedi
jeepney
jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
keyring
kiwisolver
lazy-loader
lit
lockfile
markupsafe
matplotlib
matplotlib-inline
mistune
mpmath
msgpack
multidict
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
packaging
pandas==1.5.3
pandocfilters
parso
passlib
pastel
pexpect
pickleshare
pillow
pip
pkginfo
platformdirs
pluggy
poetry
poetry-core
portpicker
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pyflakes
pygments
pylev
pyparsing
pyrsistent
pyseto
python-dateutil
python-lsp-jsonrpc
pytoolconfig
pytz
pywavelets
pyzmq
replit
replit-python-lsp-server
requests
requests-toolbelt
rope
rsa
scikit-image
scikit-learn
scipy
secretstorage
send2trash
setuptools
shellingham
simplegeneric
six
soupsieve
sqlalchemy
sympy
terminado
threadpoolctl
tifffile
tinycss2
toml
tomli
tomlkit
torch
torchvision
tornado
traitlets
triton
typing-extensions
ujson
urllib3
virtualenv
wcwidth
webencodings
werkzeug
whatthepatch
wheel
wtforms
yapf
yarl
