* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}


/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #fff;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  right:0;
  left:0;
  width: 100%;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other. */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}


/* Responsive layout - when the screen is more than 500px wide and the height is more than 800px, make the prescriptionlogo height 300px. */
@media screen and (min-height: 800px) and (min-width: 500px) {
  .prescriptionlogo {   
    height:300px;
  }
}

/* Social Media Links */

.socialmediaview {
  display:inline;
}


/* Login & Registration Page Cards */

.card_log_reg {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

/* Logout and Back button locations */

.container {
  position: relative;
}

/* Back Button is at top left of screen*/

.topleft {
  position: absolute;
  top: -20px;
  left: -25px;
  font-size: 18px;
}

/* Username of current user is at top left of screen*/

.topleft2 {
  position: absolute;
  top: -20px;
  left: -25px;
  font-size: 18px;
  background:#ddd;
}

/* Delete button is at top left of div*/

.topleft3 {
  position: absolute;
  top: -18px;
  left: -6px;
}

/* Logout Button is at top right of screen*/

.topright {
  position: absolute;
  top: -20px;
  right: -25px;
  font-size: 18px;
}

/* Select per_page amount is at top right of div*/

.topright2 {
  position: absolute;
  top: -18px;
  right: -6px;
}

/* All Buttons Are set to same size */

.custom {
  width: 100px !important;
}

table, th, td {
  border:1px solid black;
  width: 20%;
}

.profile_attributes{
  background:white;
  width:100%;
  text-align:center;
}

