{% extends "index.html" %}

{% block title %} History {% endblock %}


{% block content %}

<div class="leftcolumn" style="width:100%">

  <div class="card" style="background:#ddd">

    <br>

    <div class="container">

      <br>

      <div class="topright2">
      
        <select onchange="location = this.value;">
          <option value="">{% if not show %} Show,
            {{num}}
             items per page
             
            {%else%}
             
            Show All

             
             {% endif %}</option>
          <option value="{{ url_for('go_to_history', per_page=5) }}">5</option>
          <option value="{{ url_for('go_to_history', per_page=10) }}">10</option>
          <option value="{{ url_for('go_to_history', per_page=25) }}">25</option>
          <option value="{{ url_for('go_to_history', per_page=50) }}">50</option>
          <option value="{{ url_for('go_to_history', per_page=num2, show=True) }}">Show All</option>
         </select>
        


      </div>


      <br>

      <div class="topleft3">

       
        <form method="POST" action="/delete">

          {% if show %} 
          
        <input type="submit" value="Delete" class="btn btn-success"> 

        {% endif %}

      </div>
         

    </div>
     
    

    <div style="overflow-x: auto;">

       
    
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Date/Time</th>
            <th scope="col">Image</th>
            <th scope="col">Prediction</th>
            <th scope="col">Disease</th>
            <th scope="col">Treatment</th>
          </tr>
        </thead>
        <tbody>
      {% for session in sessions.items %}
      <tr>
        <td>{{ session.date }}
          {% if show %} 
         <br>
         <input type="checkbox" name="mycheckbox" value="{{session.id}}">
         {% endif %}
        </td>
        <td><img src="{{url_for('static',filename='uploads/')}}{{current_user.email}}/{{session.image}}" width="60" height="60"><br> {{ session.image }}</td>
        <td>{{ session.prediction }}</td>
        <td>{{ session.disease }}</td>
        <td>{{ session.treatment }}</td>
      </tr>
      {% endfor %}
        </tbody>
      </table>
      
    </form>

      {% for page_num in sessions.iter_pages(left_edge=1, right_edge=1,
        left_current=1, right_current=2) %} {% if page_num %} {% if sessions.page == page_num %}
        <a class="btn btn-success" href="{{ url_for('go_to_history', page=page_num, per_page=num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-success" href="{{ url_for('go_to_history', page=page_num, per_page=num) }}">{{ page_num }}</a>
        {% endif %} {% else %} ... {% endif %} {% endfor %}
        <br>
        <br>
        <p>
          Showing page {{ sessions.page }} of {{ sessions.pages }}
       </p>

    </div>
    
  </div>
    
  </div>
 
   
{% endblock %}