<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %} Pepper Prescription</title>
</head>
<body style="background:#5fa468">
    <div class="header">
      

      <div class="container">

      <div class="topleft2">
        Logged in: {{current_user.username}}
        </div>
      
      <div class="topright">
      <a href="{{url_for('logout')}}" class="btn btn-success custom" role="button">Logout</a>
    </div>
  </div>
        
      <a href="{{ url_for('dashboard') }}">
            <img src="{{url_for('static',filename='image/PepperPrescriptionLogo.png')}}" alt="" width="300" height="200">
      </a>
      
    </div>
    
    <div class="topnav">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('go_to_plants') }}">Plants</a>
        <a href="{{ url_for('go_to_diseases') }}">Diseases</a>
        <a href="{{ url_for('go_to_aboutus') }}" style="float:right">About Us</a>
      </div>
     

    
    
    
        
        
    

    <div class="row">
    {% block content %}
        <div class="leftcolumn">
          <div class="card">
            <h1> Welcome to Pepper Prescription</h1>
            <br>
            <form action="#" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" required="true" accept="image/jpeg" id="file-input">
                <br>
                <br>
                <input type="submit" class="btn btn-success custom" value="Submit">
            </form>
          </div>

          {% if upload_hold %}  
          <div class="card">
            <img class="img-pos" src="{{url_for('static',filename='uploads/')}}{{img_name}}" alt="pepperprescription" width="150" height="150">
            <p>Plant Name: Lorem ipsum</p>

            <p>Disease Type: Pellentesque enim magna, laoreet accumsan metus ac, tempor lacinia nunc. Nullam vehicula ipsum tellus, ut aliquam sapien sagittis aliquet. 
              In ac est nisl. Aliquam erat volutpat. Nulla condimentum ante at eros condimentum rhoncus. Nulla dapibus in nibh et elementum. Morbi feugiat pulvinar augue ut placerat. 
              Quisque consequat sed lectus eu euismod.</p>

            
          </div>
          {% endif %}
          
        </div>
       
        <div class="rightcolumn">
      
         
          <div class="card">
            <h3>Follow Us</h3>
            <span class="socialmediaview">
            <a href="#">
              <img src="{{url_for('static',filename='image/facebook.png')}}" alt="" width="50" height="50">
            </a>
            <a href="#">
              <img src="{{url_for('static',filename='image/twitter.png')}}" alt="" width="50" height="50">
            </a>
            <a href="#">
              <img src="{{url_for('static',filename='image/instagram.png')}}" alt="" width="50" height="50">
            </a>
          </span>
          </div>
        </div>

    {% endblock %}
    </div>
    
    <div class="footer">
        <h2>Footer</h2>
      </div>

</body>
</html>