<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}Dashboard{% endblock %} - Pepper Prescription</title>
</head>
<body style="background:#5fa468">
    <div class="header">
      

      <div class="container">

      <div class="topleft2">
        <b>Logged in: {{current_user.username}}</b>
        </div>
      
      <div class="topright">
      <a href="{{url_for('logout')}}" class="btn btn-success custom" role="button">Logout</a>
    </div>
  </div>
        
      <a href="{{ url_for('dashboard') }}">
            <img src="{{url_for('static',filename='image/PepperPrescriptionLogo.png')}}" alt="" class="prescriptionlogo" width="300" height="200">
      </a>
      
    </div>
    

     
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">Dashboard</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('go_to_plants') }}">Plants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('go_to_diseases') }}">Diseases</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{{ url_for('go_to_profile') }}">View Profile</a></li>
                <li><a class="dropdown-item" href="{{ url_for('go_to_history') }}">View History</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('go_to_aboutus') }}">About Us</a></li>
              </ul>
            </li>
        
          </ul>
        </div>
      </div>
    </nav>
    
    
    
        
        
    

    <div class="row">
    {% block content %}
        <div class="leftcolumn">
          <div class="card">
            <h1> Welcome to Pepper Prescription</h1>
            <br>
            <form action="#" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" required="true" accept="image/jpeg" id="file-input">
                <br>
                <br>
                <input type="submit" class="btn btn-success custom" value="Submit">
            </form>
          </div>

          {% if upload_hold %}  
          <div class="card">
            <img class="img-pos" src="{{url_for('static',filename='uploads/')}}{{current_user.email}}/{{img_name}}" alt="pepperprescription" width="150" height="150">
            <p>Plant Name: Lorem ipsum</p>

            <p>Disease Type: Pellentesque enim magna, laoreet accumsan metus ac, tempor lacinia nunc. Nullam vehicula ipsum tellus, ut aliquam sapien sagittis aliquet. 
              In ac est nisl. Aliquam erat volutpat. Nulla condimentum ante at eros condimentum rhoncus. Nulla dapibus in nibh et elementum. Morbi feugiat pulvinar augue ut placerat. 
              Quisque consequat sed lectus eu euismod.</p>

            
          </div>
          {% endif %}
          
        </div>
       
        <div class="rightcolumn">
      
         
          <div class="card">
            <h3>Follow Us</h3>
            <span class="socialmediaview">
            <a href="#">
              <img src="{{url_for('static',filename='image/facebook.png')}}" alt="" width="50" height="50">
            </a>
            <a href="#">
              <img src="{{url_for('static',filename='image/twitter.png')}}" alt="" width="50" height="50">
            </a>
            <a href="#">
              <img src="{{url_for('static',filename='image/instagram.png')}}" alt="" width="50" height="50">
            </a>
          </span>
          </div>
        </div>

    {% endblock %}
    </div>
    
    <div class="footer">
      <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="">TechMasters</a>
    </div>
    <!-- Copyright -->
      </div>

</body>
</html>